<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WordAddIn2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WordAddIn2.Properties.Settings>
            <setting name="FirstUse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartTime" serializeAs="String">
                <value />
            </setting>
            <setting name="addin_license" serializeAs="String">
                <value />
            </setting>
            <setting name="days_for_use" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Last_connction" serializeAs="String">
                <value />
            </setting>
            <setting name="serverString" serializeAs="String">
                <value>server=edocsaddinserver.col1u7zgsknb.us-west-2.rds.amazonaws.com;database=edocsusers;uid=admin;pwd=mypassword;</value>
            </setting>
            <setting name="is_active" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="heading1_name" serializeAs="String">
                <value>Heading 1</value>
            </setting>
            <setting name="heading2_name" serializeAs="String">
                <value>Heading 2</value>
            </setting>
            <setting name="introduction1" serializeAs="String">
                <value>Introduction‎ 1</value>
            </setting>
            <setting name="introduction2" serializeAs="String">
                <value>Introduction‎ 2</value>
            </setting>
        </WordAddIn2.Properties.Settings>
    </userSettings>
</configuration>